body{
text-align: center;
    
}

#marqueeStyle{
    background-color:azure;
    color: dimgrey;
    font-family: cursive;
}

.navbar-inverse{
   font-family: cursive; 
    
}


#about{
    font-size: 25;
    font-family: cursive;
}

h1{
    font-family: cursive
}

h2{
    font-family: cursive
}

h3{
    font-family: cursive
}

h4{
    font-family: cursive
}